.inputField {
    border-radius: .375rem;
    color: #212529;
    display: block;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
}

.formBox {
    box-shadow: 0 0 3px #3c485826 !important;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.375rem;
}

.formLabel {
    margin-bottom: 8px;
    font-weight: 600;
    display: block;
    font-size: 0.9rem;
}




.formControl {
    width: 100%;
}

.customTextarea {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    font-weight: 400;
    line-height: 1.5;

}

.doctorsListContainer {
    box-shadow: 0 0 3px #3c485826 !important;
    border-radius: 0.375rem;
    background-color: #fff;
    padding: 1.5rem;
}